AddDefaultCharset utf-8  
DirectoryIndex core/run.php

AuthType Basic   
AuthName "InTouch.v3" 
AuthUserFile /home/w/westernsru/human-revive/.htpasswd
require valid-user 

# Заголовок Cache-Control
<IfModule mod_headers.c>
        Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>
 
# Заголовок Expires
<IfModule mod_expires.c>
        ExpiresActive On ExpiresDefault "now"
</IfModule>

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# and the requested path and file doesn't directly match a physical file
RewriteCond %{REQUEST_FILENAME} !-f

# and the requested path and file doesn't directly match a physical folder
RewriteCond %{REQUEST_FILENAME} !-d

# internally rewrite the request to the index.php script
RewriteRule .* /core/run.php [L]
